In [39]:
library(rvest)
library(dplyr)
library(readr)
library(tidyr)
library(stringr)
library(janitor)

Attaching package: ‘readr’


The following object is masked from ‘package:rvest’:

    guess_encoding

In [40]:
pop <- read_html("https://csimarket.com/stocks/competitionNO2.php?supply&code=INTC")

In [53]:
company_name <- paste(".block a",sep=",")
company_name_node <- html_nodes(pop, company_name)
company_name_text <- html_text(company_name_node)%>% data.frame()

ticker <- paste(".ff00",".dae",sep=",")
ticker_node <- html_nodes(pop, ticker)
ticker_text <- html_text(ticker_node)%>% data.frame()

one_day<- paste(".ff00+ .ac" , ".dae+ .f11", sep=",")
one_day_node <- html_nodes(pop, one_day)
one_day_text <- html_text(one_day_node)%>% parse_number()%>%data.frame()

five_days <- paste(".ddd:nth-child(4)" , ".subcomp11:nth-child(4)", sep= ",")
five_days_node <- html_nodes(pop, five_days)
five_days_text <- html_text(five_days_node)%>% parse_number()%>%data.frame()

thirty_days <- paste(".subcomp11:nth-child(5)" , ".svjetlirub:nth-child(5)", sep= ",")
thirty_days_node <- html_nodes(pop, thirty_days)
thirty_days_text <- html_text(thirty_days_node)%>% parse_number()%>%data.frame()

ninety_days <- paste(".subcomp11:nth-child(6)" , ".ddd~ .ddd", sep= ",")
ninety_days_node <- html_nodes(pop, ninety_days)
ninety_days_text <- html_text(ninety_days_node)%>% parse_number()%>%data.frame()

year <- paste(".subcomp11:nth-child(7)", ".svjetlirub:nth-child(7)",sep=",")
year_nodes <- html_nodes(pop, year)
year_text <- html_text(year_nodes)%>% parse_number()%>%data.frame()

suppliers_data <- cbind(company_name_text, ticker_text, one_day_text, five_days_text, thirty_days_text, ninety_days_text, year_text)
colnames(suppliers_data, do.NULL = FALSE)
colnames(suppliers_data) <- c("company_name","ticker", "one_day", "five_days", "thirty_days","ninety_days", "ytd")
head(suppliers_data)

Warning message:
“43 parsing failures.
row col expected actual
  2  -- a number      -
  3  -- a number      -
 15  -- a number      -
 16  -- a number      -
 17  -- a number      -
... ... ........ ......
See problems(...) for more details.
”
Warning message:
“43 parsing failures.
row col expected actual
  2  -- a number      -
  3  -- a number      -
 15  -- a number      -
 16  -- a number      -
 17  -- a number      -
... ... ........ ......
See problems(...) for more details.
”
Warning message:
“43 parsing failures.
row col expected actual
  2  -- a number      -
  3  -- a number      -
 15  -- a number      -
 16  -- a number      -
 17  -- a number      -
... ... ........ ......
See problems(...) for more details.
”
Warning message:
“43 parsing failures.
row col expected actual
  2  -- a number      -
  3  -- a number      -
 15  -- a number      -
 16  -- a number      -
 17  -- a number      -
... ... ........ ......
See problems(...) for more details.
”
Warning message:
“43 parsing failures.
row col expected actual
  2  -- a number      -
  3  -- a number      -
 15  -- a number      -
 16  -- a number      -
 17  -- a number      -
... ... ........ ......
See problems(...) for more details.
”

[1] "." "." "." "." "." "." "."

  company_name               ticker one_day five_days thirty_days ninety_days
1 Intel Corporation          INTC    1.21    3.92     -5.67       -5.53
2 Rare Element Resources Ltd REE       NA      NA        NA          NA
3 Niocorp Developments Ltd   NIOBF     NA      NA        NA          NA
4 3m Company                 MMM     0.65    1.73      1.89       -7.97
5 Applied Materials Inc      AMAT    2.10   12.18     21.16        7.38
6 Dover Corp                 DOV    -0.44    1.36      7.74        1.97
  ytd
1  2.52
2    NA
3    NA
4  5.77
5 76.46
6 38.95

In [54]:
head(suppliers_data)

  company_name               ticker one_day five_days thirty_days ninety_days
1 Intel Corporation          INTC    1.21    3.92     -5.67       -5.53
2 Rare Element Resources Ltd REE       NA      NA        NA          NA
3 Niocorp Developments Ltd   NIOBF     NA      NA        NA          NA
4 3m Company                 MMM     0.65    1.73      1.89       -7.97
5 Applied Materials Inc      AMAT    2.10   12.18     21.16        7.38
6 Dover Corp                 DOV    -0.44    1.36      7.74        1.97
  ytd
1  2.52
2    NA
3    NA
4  5.77
5 76.46
6 38.95

In [57]:
suppliers_data <- drop_na(suppliers_data)